server/src/main/Eland.NRSM.Template/Service References/MANAGEMANUALORDERIN/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eland.co.kr/KRERP/MOB" xmlns:n2="http://eland.co.kr/KRERP/SD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="http://sap.com/xi/SAPGlobal/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://eland.co.kr/KRERP/MOB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_ZMANAGEMANUALORDERIN_BINDING">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sapsp:HTTPSSO2 />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ManageManualOrderIn">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_SaveManualOrderQueryResponse_In">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ManualOrderMatInfoQueryResponse_In">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://eland.co.kr/KRERP/MOB" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global" xmlns="http://eland.co.kr/KRERP/MOB" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://eland.co.kr/KRERP/MOB">
      <xsd:simpleType name="BEDAT">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BWSCL">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BWSCL_TX">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Flag">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LABST">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MAKTX">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MATNR">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MATNR1">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MEINS">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MENGE">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MTART">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ManualOrderMatInfoList">
        <xsd:sequence>
          <xsd:element name="WERKS" type="xi0:WERKS" />
          <xsd:element name="MATNR" type="xi0:MATNR" />
          <xsd:element name="MATNR1" type="xi0:MATNR1" />
          <xsd:element name="MAKTX" type="xi0:MAKTX" />
          <xsd:element name="MTART" type="xi0:MTART" />
          <xsd:element name="BEDAT" type="xi0:BEDAT" />
          <xsd:element name="PERNO" type="xi0:PERNO" />
          <xsd:element name="MENGE" type="xi0:MENGE" />
          <xsd:element name="MEINS" type="xi0:MEINS" />
          <xsd:element name="WEKGR" type="xi0:WEKGR" />
          <xsd:element name="BWSCL" type="xi0:BWSCL" />
          <xsd:element name="BWSCL_TX" type="xi0:BWSCL_TX" />
          <xsd:element name="PLIFZ" type="xi0:PLIFZ" />
          <xsd:element name="LABST" type="xi0:LABST" />
          <xsd:element name="UMREZ" type="xi0:UMREZ" />
          <xsd:element name="TOQTY" type="xi0:TOQTY" />
          <xsd:element name="YEQTY" type="xi0:YEQTY" />
          <xsd:element name="OPENPO" type="xi0:OPENPO" />
          <xsd:element name="NOCTL" type="xi0:NOCTL" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ManualOrderMatInfoQuery_sync">
        <xsd:sequence>
          <xsd:element name="WERKS" type="xi0:WERKS" />
          <xsd:element name="MATNR" type="xi0:MATNR" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ManualOrderMatInfoResponse_sync">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="ManualOrderMatInfoList" type="xi0:ManualOrderMatInfoList" />
          <xsd:element name="Flag" type="xi0:Flag" />
          <xsd:element name="ReturnMessage" type="xi0:ReturnMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="NOCTL">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OPENPO">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PERNO">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PLIFZ">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ReturnMessage">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SaveManualOrderQuery_sync">
        <xsd:sequence>
          <xsd:element name="ManualOrderMatInfoList" type="xi0:ManualOrderMatInfoList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SaveManualOrderResponse_sync">
        <xsd:sequence>
          <xsd:element name="Flag" type="xi0:Flag" />
          <xsd:element name="ReturnMessage" type="xi0:ReturnMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TOQTY">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="UMREZ">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WEKGR">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WERKS">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="YEQTY">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ManualOrderMatInfoQuery_sync" type="xi0:ManualOrderMatInfoQuery_sync" />
      <xsd:element name="ManualOrderMatInfoResponse_sync" type="xi0:ManualOrderMatInfoResponse_sync" />
      <xsd:element name="SaveManualOrderQuery_sync" type="xi0:SaveManualOrderQuery_sync" />
      <xsd:element name="SaveManualOrderResponse_sync" type="xi0:SaveManualOrderResponse_sync" />
    </xsd:schema>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://eland.co.kr/KRERP/MOB" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global" xmlns="http://sap.com/xi/SAPGlobal/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://sap.com/xi/SAPGlobal/Global">
      <xsd:import namespace="http://eland.co.kr/KRERP/SD" />
      <xsd:element name="StandardMessageFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="xi2:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://eland.co.kr/KRERP/MOB" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global" xmlns="http://eland.co.kr/KRERP/SD" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://eland.co.kr/KRERP/SD">
      <xsd:complexType name="ExchangeFaultData">
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="xi2:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SaveManualOrderQuery_sync">
    <wsdl:part name="SaveManualOrderQuery_sync" element="tns:SaveManualOrderQuery_sync" />
  </wsdl:message>
  <wsdl:message name="SaveManualOrderResponse_sync">
    <wsdl:part name="SaveManualOrderResponse_sync" element="tns:SaveManualOrderResponse_sync" />
  </wsdl:message>
  <wsdl:message name="StandardMessageFault">
    <wsdl:part name="StandardMessageFault" element="n1:StandardMessageFault" />
  </wsdl:message>
  <wsdl:message name="ManualOrderMatInfoQuery_sync">
    <wsdl:part name="ManualOrderMatInfoQuery_sync" element="tns:ManualOrderMatInfoQuery_sync" />
  </wsdl:message>
  <wsdl:message name="ManualOrderMatInfoResponse_sync">
    <wsdl:part name="ManualOrderMatInfoResponse_sync" element="tns:ManualOrderMatInfoResponse_sync" />
  </wsdl:message>
  <wsdl:portType name="ManageManualOrderIn">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ManageManualOrderIn" />
    </wsp:Policy>
    <wsdl:operation name="SaveManualOrderQueryResponse_In">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SaveManualOrderQueryResponse_In" />
      </wsp:Policy>
      <wsdl:input message="tns:SaveManualOrderQuery_sync" />
      <wsdl:output message="tns:SaveManualOrderResponse_sync" />
      <wsdl:fault name="StandardMessageFault" message="tns:StandardMessageFault" />
    </wsdl:operation>
    <wsdl:operation name="ManualOrderMatInfoQueryResponse_In">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ManualOrderMatInfoQueryResponse_In" />
      </wsp:Policy>
      <wsdl:input message="tns:ManualOrderMatInfoQuery_sync" />
      <wsdl:output message="tns:ManualOrderMatInfoResponse_sync" />
      <wsdl:fault name="StandardMessageFault" message="tns:StandardMessageFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZMANAGEMANUALORDERIN_BINDING" type="tns:ManageManualOrderIn">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZMANAGEMANUALORDERIN_BINDING" />
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters />
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveManualOrderQueryResponse_In">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardMessageFault">
        <soap:fault use="literal" name="StandardMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ManualOrderMatInfoQueryResponse_In">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardMessageFault">
        <soap:fault use="literal" name="StandardMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZMANAGEMANUALORDERIN">
    <wsdl:port name="ZMANAGEMANUALORDERIN_BINDING" binding="tns:ZMANAGEMANUALORDERIN_BINDING">
      <soap:address location="http://KRSRQASDB01.home.e-kmall.com:8000/sap/bc/srt/xip/sap/zmanagemanualorderin/100/zmanagemanualorderin/zmanagemanualorderin_binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>