server/src/main/Eland.NRSM.Template/Service References/ZMANAGEFLOORCODEIN/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eland.co.kr/KRERP/SD" xmlns:n2="http://sap.com/xi/SAPGlobal/Global" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="http://eland.com/BPP/TEST" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://eland.co.kr/KRERP/SD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_ZMANAGEFLOORCODEIN_BINDING">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sapsp:HTTPSSO2 />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ManageFloorCodeIn">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_FloorCodeByIDConfirmationResponse_In">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_FloorCodeSizeByIDQueryResponse_In">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://eland.com/BPP/TEST" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global" xmlns="http://eland.com/BPP/TEST" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://eland.com/BPP/TEST">
      <xsd:import namespace="http://eland.co.kr/KRERP/SD" />
      <xsd:element name="FloorCodeByIDConfirmationCheckQuery_sync" type="xi2:FloorCodeByIDConfirmationCheckQueryMessage_sync" />
      <xsd:element name="FloorCodeByIDConfirmationCheckResponse_sync" type="xi2:FloorCodeByIDConfirmationCheckResponseMessage_sync" />
      <xsd:element name="FloorCodeSizeByIDQuery_sync" type="xi2:FloorCodeSizeByIDQueryMassage_sync" />
      <xsd:element name="FloorCodeSizeByIDResponse_sync" type="xi2:FloorCodeSizeByIDResponseMessage_sync" />
    </xsd:schema>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://eland.com/BPP/TEST" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global" xmlns="http://sap.com/xi/SAPGlobal/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://sap.com/xi/SAPGlobal/Global">
      <xsd:import namespace="http://eland.co.kr/KRERP/SD" />
      <xsd:element name="StandardMessageFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="xi2:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://eland.com/BPP/TEST" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global" xmlns="http://eland.co.kr/KRERP/SD" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://eland.co.kr/KRERP/SD">
      <xsd:simpleType name="CompanyCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Date">
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="xi2:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Floor">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="FloorCodeByIDConfirmationCheckQueryMessage_sync">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PlantID" type="xi2:PlantID" />
          <xsd:element minOccurs="0" name="Date" type="xi2:Date" />
          <xsd:element minOccurs="0" name="Floor" type="xi2:Floor" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FloorCodeByIDConfirmationCheckResponseMessage_sync">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Result" type="xi2:RESULT" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FloorCodeSizeByIDQueryMassage_sync">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Date" type="xi2:Date" />
          <xsd:element minOccurs="0" name="Floor" type="xi2:Floor" />
          <xsd:element minOccurs="0" name="PlantID" type="xi2:PlantID" />
          <xsd:element minOccurs="0" name="CompanyCode" type="xi2:CompanyCode" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FloorCodeSizeByIDResponseMessage_sync">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="SpaceSize" type="xi2:SpaceSize" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PlantID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xi2:PlantID.Content">
            <xsd:attribute name="schemeAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="PlantID.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="4" />
          <xsd:minLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RESULT">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SpaceSize">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="6" />
          <xsd:fractionDigits value="1" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FloorCodeByIDConfirmationCheckQuery_sync">
    <wsdl:part name="FloorCodeByIDConfirmationCheckQuery_sync" element="n1:FloorCodeByIDConfirmationCheckQuery_sync" />
  </wsdl:message>
  <wsdl:message name="FloorCodeByIDConfirmationCheckResponse_sync">
    <wsdl:part name="FloorCodeByIDConfirmationCheckResponse_sync" element="n1:FloorCodeByIDConfirmationCheckResponse_sync" />
  </wsdl:message>
  <wsdl:message name="StandardMessageFault">
    <wsdl:part name="StandardMessageFault" element="n2:StandardMessageFault" />
  </wsdl:message>
  <wsdl:message name="FloorCodeSizeByIDQuery_sync">
    <wsdl:part name="FloorCodeSizeByIDQuery_sync" element="n1:FloorCodeSizeByIDQuery_sync" />
  </wsdl:message>
  <wsdl:message name="FloorCodeSizeByIDResponse_sync">
    <wsdl:part name="FloorCodeSizeByIDResponse_sync" element="n1:FloorCodeSizeByIDResponse_sync" />
  </wsdl:message>
  <wsdl:portType name="ManageFloorCodeIn">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ManageFloorCodeIn" />
    </wsp:Policy>
    <wsdl:operation name="FloorCodeByIDConfirmationResponse_In">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_FloorCodeByIDConfirmationResponse_In" />
      </wsp:Policy>
      <wsdl:input message="tns:FloorCodeByIDConfirmationCheckQuery_sync" />
      <wsdl:output message="tns:FloorCodeByIDConfirmationCheckResponse_sync" />
      <wsdl:fault name="StandardMessageFault" message="tns:StandardMessageFault" />
    </wsdl:operation>
    <wsdl:operation name="FloorCodeSizeByIDQueryResponse_In">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_FloorCodeSizeByIDQueryResponse_In" />
      </wsp:Policy>
      <wsdl:input message="tns:FloorCodeSizeByIDQuery_sync" />
      <wsdl:output message="tns:FloorCodeSizeByIDResponse_sync" />
      <wsdl:fault name="StandardMessageFault" message="tns:StandardMessageFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZMANAGEFLOORCODEIN_BINDING" type="tns:ManageFloorCodeIn">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZMANAGEFLOORCODEIN_BINDING" />
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters />
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FloorCodeByIDConfirmationResponse_In">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardMessageFault">
        <soap:fault use="literal" name="StandardMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FloorCodeSizeByIDQueryResponse_In">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardMessageFault">
        <soap:fault use="literal" name="StandardMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZMANAGEFLOORCODEIN">
    <wsdl:port name="ZMANAGEFLOORCODEIN_BINDING" binding="tns:ZMANAGEFLOORCODEIN_BINDING">
      <soap:address location="http://KRSRPRDAP02.home.e-kmall.com:8000/sap/bc/srt/xip/sap/zmanagefloorcodein/100/zmanagefloorcodein/zmanagefloorcodein_binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>