server/src/main/Eland.NRSM.Template/Service References/MANAGESTOCKINSPECTIONCREATEIN/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eland.co.kr/KRERP/MOB" xmlns:n2="http://eland.co.kr/KRERP/SD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="http://sap.com/xi/SAPGlobal/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://eland.co.kr/KRERP/MOB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_ZMANAGESTOCKINSPECTIONCREATEIN_BINDING">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sapsp:HTTPSSO2 />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ManageStockInspectionCreateIn">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_StockInspectionCreateQueryResponse_In">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global" xmlns:xi1="http://eland.co.kr/KRERP/MOB" xmlns="http://sap.com/xi/SAPGlobal/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://sap.com/xi/SAPGlobal/Global">
      <xsd:import namespace="http://eland.co.kr/KRERP/SD" />
      <xsd:element name="StandardMessageFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="xi2:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global" xmlns:xi1="http://eland.co.kr/KRERP/MOB" xmlns="http://eland.co.kr/KRERP/MOB" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://eland.co.kr/KRERP/MOB">
      <xsd:simpleType name="DISQTY">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DZLDAT">
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ERFNM">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="FIXID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Flag">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MATNR">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ReturnMessage">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="StockInspectionCreateQuery_sync">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="DZLDAT" type="xi1:DZLDAT" />
          <xsd:element minOccurs="0" name="WERKS" type="xi1:WERKS" />
          <xsd:element minOccurs="0" name="MATNR" type="xi1:MATNR" />
          <xsd:element minOccurs="0" name="FIXID" type="xi1:FIXID" />
          <xsd:element minOccurs="0" name="ERFNM" type="xi1:ERFNM" />
          <xsd:element minOccurs="0" name="DISQTY" type="xi1:DISQTY" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StockInspectionCreateResponse_sync">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Flag" type="xi1:Flag" />
          <xsd:element minOccurs="0" name="ReturnMessage" type="xi1:ReturnMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="WERKS">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="StockInspectionCreateQuery_sync" type="xi1:StockInspectionCreateQuery_sync" />
      <xsd:element name="StockInspectionCreateResponse_sync" type="xi1:StockInspectionCreateResponse_sync" />
    </xsd:schema>
    <xsd:schema xmlns:xi2="http://eland.co.kr/KRERP/SD" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global" xmlns:xi1="http://eland.co.kr/KRERP/MOB" xmlns="http://eland.co.kr/KRERP/SD" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://eland.co.kr/KRERP/SD">
      <xsd:complexType name="ExchangeFaultData">
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="xi2:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StockInspectionCreateQuery_sync">
    <wsdl:part name="StockInspectionCreateQuery_sync" element="tns:StockInspectionCreateQuery_sync" />
  </wsdl:message>
  <wsdl:message name="StockInspectionCreateResponse_sync">
    <wsdl:part name="StockInspectionCreateResponse_sync" element="tns:StockInspectionCreateResponse_sync" />
  </wsdl:message>
  <wsdl:message name="StandardMessageFault">
    <wsdl:part name="StandardMessageFault" element="n1:StandardMessageFault" />
  </wsdl:message>
  <wsdl:portType name="ManageStockInspectionCreateIn">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ManageStockInspectionCreateIn" />
    </wsp:Policy>
    <wsdl:operation name="StockInspectionCreateQueryResponse_In">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_StockInspectionCreateQueryResponse_In" />
      </wsp:Policy>
      <wsdl:input message="tns:StockInspectionCreateQuery_sync" />
      <wsdl:output message="tns:StockInspectionCreateResponse_sync" />
      <wsdl:fault name="StandardMessageFault" message="tns:StandardMessageFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZMANAGESTOCKINSPECTIONCREATEIN_BINDING" type="tns:ManageStockInspectionCreateIn">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZMANAGESTOCKINSPECTIONCREATEIN_BINDING" />
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters />
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StockInspectionCreateQueryResponse_In">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardMessageFault">
        <soap:fault use="literal" name="StandardMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZMANAGESTOCKINSPECTIONCREATEIN">
    <wsdl:port name="ZMANAGESTOCKINSPECTIONCREATEIN_BINDING" binding="tns:ZMANAGESTOCKINSPECTIONCREATEIN_BINDING">
      <soap:address location="http://KRSRQASDB01.home.e-kmall.com:8000/sap/bc/srt/xip/sap/zmanagestockinspectioncreatein/100/zmanagestockinspectioncreatein/zmanagestockinspectioncreatein_binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>